/* Asegúrate de que el contenedor principal no tenga padding */
.container-fluid {
    padding: 0;
  }
  
  /* Estilos para las secciones con imagen de fondo */
  .section {
    height: 100vh; /* La sección ocupará toda la altura de la pantalla */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  
  /* Sección 1 con imagen de fondo */
  .section-1 {
    background-image: url('../images/inicio/Home-1row.jpg');
  }
  
  /* Sección 2 con imagen de fondo */
  .section-2 {
    background-image: url('../images/inicio/Home-2row.jpg');
  }
  
  /* Sección 3 con imagen de fondo */
  .section-3 {
    background-image: url('../images/inicio/Home-3row.png');
  }
  
  /* Estilos para el texto */
  .section h1,
  .section h3,
  .section p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra al texto */
  }
  
  